
.row1 .r11{
    width: 30%;
    float: left;
    margin: 1.66%;
    height: 400px;
}
.row1 .r12{
    float: left;
    width: 30%;
    margin: 1.66%;
    height: 400px;
 
}
.row1 .r13{
    float: left;
    width: 30%;
    margin: 1.66%;
    height: 400px;
 
}

.row2 .r21{
    width: 30%;
    float: left;
    margin: 1.66%;
    height: 400px;
}
.row2 .r22{
    float: left;
    width: 30%;
    margin: 1.66%;
    height: 400px;
 
}
.row2 .r23{
    float: left;
    width: 30%;
    margin: 1.66%;
    height: 400px;
}

.row3 .r31{
    width: 30%;
    float: left;
    margin: 1.66%;
    height: 400px;
}
.row3 .r32{
    float: left;
    width: 30%;
    margin: 1.66%;
    height: 400px;
 
}
.row3 .r33{
    float: left;
    width: 30%;
    margin: 1.66%;
    height: 400px;
 
}


